.app{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  
  margin: 2rem;
  border: 4px solid white;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 1px rgba(247, 246, 246, 0.08);


  color: white;

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    input{
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: none;
      width: 200px;
      font-size: 1rem;

      &:focus{
        outline: 4px solid var(--primary-color);
      }

      &::placeholder{
        color: var(--primary-color-dark);
        font-style: italic;
      }
    }

    button{
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: none;
      background-color: white;
      color: var(--primary-color);
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;

      &:hover{
        background-color: var(--primary-color-light);
        color: white;
      }
    }
  }


  .todos,
  .completed-tasks{
    width: 100%;
    max-width: 500px;

    h1{
      text-align: center;
      margin-bottom: 1rem;
    }

    ul{
      list-style: none;
      padding: 0;

      li{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        padding: 0.75rem 1rem;
        margin-bottom: 0.75rem;

        border-radius: 0.5rem;
        background: var(--primary-color-dark);

        box-shadow: 0 2px 4px rgba(0,0,0,0.15);

        p{
          margin: 0;
          font-size: 1.25rem;
          font-weight: 600;
        }

        button{
          margin-top: 0.4rem;

          display: inline-flex;
          align-items: center;
          gap: 0.4rem;

          padding: 0.3rem 0.6rem;

          border: none;
          border-radius: 0.25rem;

          font-size: 0.8rem;
          cursor: pointer;
        }
      }
    }
  }

  .completed-tasks{
    ul{
      li{
        opacity: 0.5;

        p{
          text-decoration: line-through;
        }
      }
    }
  }

}