:root {
  --primary-color: rgba(91,190,209,1);
  --primary-color-light: rgba(91,190,209,0.5);
  --primary-color-dark: rgba(38, 89, 99, 0.8);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, var(--primary-color-dark), var(--primary-color-light)) no-repeat;
}